/*** General styles ***/
html, body {
	height: 100%;
}

.thumbnail, .app-icon {
	width: 56px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*** Page components ***/
/* Main components */
#page-wrapper {
	height: 100%;
	overflow: hidden;
}

.app-icon {
	-webkit-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}

#top-wrapper {
    z-index: 1;
}
#bottom-wrapper {
    z-index: 1;
}
#content-wrapper {
	position: relative;
	overflow-y: auto;
}

/* Results */
#results li {
    cursor: pointer
}

/* Playlist */
#playlist-wrapper {
	position: relative;
}
#playlist-card {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 100px;
	max-width: 800px;
	margin: 16px;
	-webkit-animation: fadeOutDown 0.5s;
	animation: fadeOutDown 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#playlist-wrapper.playlist-opened #playlist-card {
	-webkit-animation: fadeInUp 0.5s;
	animation: fadeInUp 0.5s;
}

#playlist {
	margin-bottom: 16px;
	overflow-y: auto;
	max-height: calc(100vh - 88px - 92px - 32px - 56px - 16px);
}
#playlist-repeat-btn {
	position: absolute;
	top: 4px;
	right: 16px;
}
#playlist-cache-btn {
	position: absolute;
	top: 4px;
	right: 64px;
}
#playlist:empty::after {
	content: "Empty";
	padding-left: 16px;
	padding-top: 16px;
}

#playlist li.active {
	background-color: var(--primary-light);
}

/* Player */
#player {
	position: relative;
	padding-top: 4px;
	background-color: white;
}

#player .title, #player .source {
	max-width: 100%;
}
#player .time {
	position: absolute;
	right: 16px;
	top: 8px;
}

/* Play/Pause button */
#play-pause-btn.pause .icon-play, #play-pause-btn:not(.pause) .icon-pause {
	 display: none;
}

/* Progress bar */
#progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	cursor: pointer;
	overflow: initial;
}

#progress-bar::after {
	content: "";
	position: absolute;
	top: -15px;
	bottom: -15px;
	left: 0;
	right: 0;
}

/* Volume */
#volume-wrapper {
	z-index: 2;
	position: relative;
	height: 0px;
	width: 0px;
}

#volume-slider-wrapper {
    position: relative;
    bottom: 164px;
    left: -124px;
    height: 48px;
    width: 200px;
    padding-left: 16px;
    padding-right: 16px;
    transform: rotate(-90deg);
}


/*** Media queries ***/

/* Tablet or phone */
@media (max-width: 832px) {
	/* Join playlist and player */
	#playlist-card {
		margin: 0;
		max-width: initial;
	}
	#playlist {
        max-height: calc(100vh - 88px - 92px - 56px - 16px);
    }
}

/* Phone */
@media (max-width: 575px) {
    #playlist {
    	max-height: calc(100vh - 88px - 136px - 56px - 16px);
    }
}

@media (hover: hover) {
	#results li button {
		transition: opacity 0.1s;
		opacity: 0;
	}
	#results li:hover button {
		opacity: 1;
	}
}


/*** Animations ***/

/* Fade In Up */
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade Out Down */
@-webkit-keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: none
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: none
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}


/*** Other ***/
.btn-icon {
	min-width: 48px;
	min-height: 48px;
	padding: 12px;
	border-radius: 96px;
}

.btn-icon.colored {
    color: var(--primary);
}