/*** General styles ***/
body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	height: 100%;
}

.container {
	max-width: 1140px;
}

.flex {
	display: flex;
}
.flex-vertical {
	display: flex;
	flex-direction: column;
}
.flex-grow {
	flex-grow: 1;
}
.flex-noshrink {
	flex-shrink: 0;
}
.flex-align {
	align-items: center;
}
.flex-start {
	justify-content: flex-start;
}
.flex-center {
	justify-content: center;
}
.flex-end {
	justify-content: flex-end;
}

.text-danger {
	color: #FF1744;
}
.thumbnail, .app-icon {
	width: 56px;
    height: 56px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 8px;
}

/*** Page components ***/
/* Main components */
#page-wrapper {
	height: 100%;
	overflow: hidden;
}
#top-wrapper {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
}
.app-title {
	margin: 0;
}
.app-icon {
	margin-right: 16px;
	-webkit-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}
#content-wrapper {
	position: relative;
	overflow-y: auto;
	background-color: #FAFAFA;
}
#content-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(250, 250, 250, 0.75);
}

/* Search text field */
#search-textfield-group {
	overflow: hidden;
	height: 48px;
	padding: 0;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.06);
}
#search-textfield-group .mdl-textfield__label {
	top: 14px;
	padding-left: 16px;
	padding-right: 16px;
	width: calc(100% - 32px);
	text-overflow: ellipsis;
	line-height: 20px;
}
#search-textfield-group .mdl-textfield__input {
	width: calc(100% - 32px);
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 14px;
	padding-bottom: 12px;
	line-height: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.42);
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
#search-textfield-group .mdl-textfield__label::after {
	width: 100%;
	bottom: 0px;
}

/* Offline message */
#offline-wrapper > p {
	margin: 0 8px 0 0;
}

/* Results */
#results {

}
#results .search-result {
	margin-bottom: 8px;
	cursor: pointer;
}
#results .search-result:active {
	background-color: #C5CAE9;
}

#results .search-result p {
	margin-top: 0px;
	margin-bottom: 0px;
}
#results .search-result .spinner {
	margin-left: 8px;
	transform: scale(0.5);
}

/* Playlist */
#playlist-wrapper {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
}
#playlist {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 100px;
	max-width: 808px;
	margin: 16px;
	-webkit-animation: fadeOutDown 0.5s;
	animation: fadeOutDown 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#playlist-wrapper.playlist-opened #playlist {
	-webkit-animation: fadeInUp 0.5s;
	animation: fadeInUp 0.5s;
}

/* Player */
#player {
	position: relative;
	padding-top: 4px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 255, 255);
	z-index: 1;
}
.player-height {
	height: 56px;
}

#player .title, #player .source {
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	text-decoration: none;
}
#player .time {
	position: absolute;
	right: 16px;
	top: 8px;
}

/* Play/Pause button */
#play-pause-btn {
	margin-left: 8px;
	margin-right: 8px;
}
#play-pause-btn.pause .icon-play, #play-pause-btn .icon-pause {
	 display: none;
}
#play-pause-btn .icon-play, #play-pause-btn.pause .icon-pause {
	display: initial;
}

/* Progress bar */
#progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	cursor: pointer;
}
#progress-bar:focus {
	outline: none;
}
#progress-bar > .bar {
	transition: none;
}
#progress-bar::after {
	content: "";
	position: absolute;
	top: -15px;
	bottom: -15px;
	left: 0;
	right: 0;
}
#progress-bar > .progressbar::after {
	content: "";
	position: absolute;
	z-index: 1;
	right: -7px;
	top: -5px;
	width: 10px;
	height: 10px;
	background-color: #3f51b5;
	border: 2px solid #3f51b5;
	border-radius: 50%;
	transition: transform 0.2s, box-shadow 0.2s;
}
#progress-bar:not(.is-dragged):focus > .progressbar::after {
	box-shadow: 0 0 0 9px rgba(63, 81, 181, 0.25);
}
#progress-bar.is-dragged > .progressbar::after {
	transform: scale(1.5);
}


/*** Media queries ***/

/* Tablet or phone */
@media (max-width: 839px) {

	/* Join playlist and player */
	#playlist {
		bottom: 0;
		margin: 0;
		max-width: initial;
		background-color: #ffffff;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	}
	#playlist .mdl-card {
		box-shadow: none;
	}
	#playlist-wrapper.playlist-opened ~ #player {
		box-shadow: none;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
	}

}

/* Phone */
@media (max-width: 479px) {
	.player-height {
		height: 48px;
	}
	.thumbnail, .app-icon {
		width: 48px;
		height: 48px;
	}
	.app-title {
		display: none;
	}
    #play-pause-btn {
    	margin-left: 0;
    	margin-right: 0;
    }
}

/* Really small screens */
@media (max-width: 479px) and (max-height: 407px), (max-width: 839px) and (max-height: 359px), (min-width: 840px) and (max-height: 307px) {
	#bottom-wrapper {
		display: none;
	}
	#page-wrapper {
		overflow-y: auto;
	}
}


/*** Animations ***/

/* Fade In Up */
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/* Fade Out Down */
@-webkit-keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: none
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: none
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}


/*** Other ***/

/* MDL changes/improvements */
.mdl-button--icon {
	width: 48px;
	height: 48px;
}
.mdl-button--icon.mdl-button--icon-large {
	width: 56px;
	height: 56px;
}
.mdl-button--icon-large .material-icons {
	-webkit-transform: translate(-24px, -24px);
	transform: translate(-24px, -24px);
	width: 48px;
	font-size: 48px;
	line-height: 1;
}
